<!DOCTYPE html>
<html lang="en">

<head>
  <title>Success Page!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-light text-dark">
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Aww yeah, you successfully inserted your data.</p>
      <hr>
      <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg btn-block">Back to Home Page!</a>
    </div>
  </div>
</body>
</html>